In [1]:
import numpy as np
import pandas as pd
from collections import Counter
import datetime
from datetime import datetime, timedelta
import itertools as its

In [11]:
imdb_df = pd.read_csv('data.csv')
imdb_df.sample(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
642,tt0988595,1.400898,30000000,160259319,27 Dresses,Katherine Heigl|James Marsden|Malin Ã…kerman|J...,Anne Fletcher,She's about to find the perfect fit.,Altruistic Jane finds herself facing her worst...,111,Comedy|Romance,Spyglass Entertainment|Fox 2000 Pictures|Dune ...,1/10/2008,610,6.1,2008
854,tt1067774,0.410616,20000000,17425000,Monte Carlo,Selena Gomez|Katie Cassidy|Cory Monteith|Leigh...,Thomas Bezucha,She's having the time of someone else's life.,Three young women vacationing in Paris find th...,109,Adventure|Comedy|Romance,Dune Entertainment|Regency Enterprises|Fox 200...,7/1/2011,359,5.9,2011
1111,tt0311113,1.491266,150000000,212011111,Master and Commander: The Far Side of the World,Russell Crowe|Paul Bettany|James D'Arcy|Billy ...,Peter Weir,The Courage to Do the Impossible Lies in the H...,After an abrupt and violent encounter with a F...,138,Adventure,Universal Pictures|Twentieth Century Fox Film ...,11/14/2003,434,6.6,2003
379,tt1104001,2.911727,170000000,400062763,TRON: Legacy,Garrett Hedlund|Jeff Bridges|Olivia Wilde|Bruc...,Joseph Kosinski,The Game Has Changed.,"Sam Flynn, the tech-savvy and daring son of Ke...",125,Adventure|Action|Science Fiction,Walt Disney Pictures|LivePlanet|Prana Studios|...,12/10/2010,2026,6.3,2010
1871,tt0144528,1.616724,84000000,123307945,Nutty Professor II: The Klumps,Eddie Murphy|Janet Jackson|Larry Miller|John A...,Peter Segal,The Klumps are back!,The hilarity begins when professor Sherman Klu...,106,Fantasy|Comedy|Romance|Science Fiction,Imagine Entertainment|Universal Pictures,7/27/2000,168,4.8,2000

In [8]:
len(data)

1890

# Предобработка датасета

In [5]:
answer_ls = []  # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

In [15]:
# Добавляю колонку для определения прибыли (вопрос 6 и далее)
imdb_df['profit'] = imdb_df['revenue'] - imdb_df['budget']

In [23]:
# Добавляем каунтер по жанрам (вопрос 11 и далее)
imdb_df['genres_counter'] = imdb_df.genres.apply(
    lambda x: Counter(x.split('|')))

In [26]:
# Добавляем каунтер по режиссерам (вопрос 13 и далее)
imdb_df['director_counter'] = imdb_df.director.apply(
    lambda x: Counter(x.split('|')))

In [30]:
# Список имен режиссеров (для 15 вопроса и далее)
imdb_df['director_list'] = imdb_df['director'].apply(lambda x: x.split('|'))

In [43]:
# Список компаний (студий) (для вопроса 20 и далее)
imdb_df['studio_list'] = imdb_df.production_companies.apply(
    lambda x: x.split('|'))

In [47]:
# Список компаний (студий) (для вопроса 21 и далее)
imdb_df['studio_counter'] = imdb_df.production_companies.apply(
    lambda x: Counter(x.split('|')))

In [68]:
# Добавляем месяц релиза
imdb_df['release_month'] = imdb_df['release_date'].apply(
    lambda x: datetime.strptime(x, '%m/%d/%Y').month)

In [74]:
# Добавляем сезон (вопрос 29 и далее)
def month_to_season(month):
    season = ''
    if month in [1, 2, 12]:
        season = 'winter'
    elif month in [3, 4, 5]:
        season = 'spring'
    elif month in [6, 7, 8]:
        season = 'summer'
    else:
        season = 'autumn'
    return(season)

In [75]:
imdb_df['season'] = imdb_df['release_month'].apply(month_to_season)

In [88]:
# Добавляем колонку с длиной фильма в символах (вопрос 31)
imdb_df['len_title'] = imdb_df['original_title'].apply(len)

In [90]:
# Добавляю колонку с длиной фильма в сорвах ((сколкьо слов в названии фильма)) - вопрос 32
imdb_df['len_word_title'] = imdb_df['original_title'].apply(
    lambda x: len(x.split()))

In [104]:
# Для второго варианта решения вопроса 35. Добавляем колонку с каунтером сочетаний пар актеров
imdb_df['actor_list'] = imdb_df.cast.apply(lambda x: x.split('|'))
imdb_df['actor_pair_counter'] = imdb_df['actor_list'].apply(
    lambda x: Counter(its.combinations(x, 2)))

#### ВАЖНО: варианты ответов будут указываться в соответствии с их номером на платформе, а не в этом ноутбуке, т.к. они не всегда сосвпадают

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [ ]:
# тут вводим ваш ответ и добавлем его в список ответов (сейчас для примера стоит "1")
imdb_df.loc[imdb_df.imdb_id.isin(['tt1345836', 'tt0413300', 'tt2395427', 'tt1032751', 'tt1298650'])][[
    'original_title', 'budget']].sort_values('budget', ascending=False).head(1)

In [6]:
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [ ]:
imdb_df.loc[imdb_df.imdb_id.isin(['tt0167260', 'tt0279111', 'tt0360717', 'tt0213149', 'tt0346491'])][[
    'original_title', 'runtime']].sort_values('runtime', ascending=False).head(1)

In [7]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [ ]:
imdb_df.loc[imdb_df.imdb_id.isin(['tt0299172', 'tt0283426', 'tt1449283', 'tt0121164', 'tt0443536'])][[
    'original_title', 'runtime']].sort_values('runtime').head(1)

In [9]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [ ]:
round(imdb_df.runtime.mean(), 0)

In [12]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [ ]:
round(imdb_df.runtime.median(), 0)

In [13]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [17]:
imdb_df.loc[imdb_df.imdb_id.isin(['tt0848228', 'tt2293640', 'tt2488496', 'tt2820852', 'tt0499549'])][[
    'original_title', 'budget', 'revenue', 'profit']].sort_values('profit', ascending=False).head(1)

In [18]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [ ]:
imdb_df.loc[imdb_df.imdb_id.isin(['tt0134983', 'tt1032751', 'tt0424095', 'tt0180052', 'tt1210819'])][[
    'original_title', 'budget', 'revenue', 'profit']].sort_values('profit', ascending=True)  # .head(1)

In [19]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [ ]:
imdb_df[imdb_df.profit > 0].imdb_id.count()

In [20]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [ ]:
imdb_df[imdb_df.release_year == 2008][['original_title', 'release_year',
                                       'budget', 'revenue', 'profit']].sort_values('revenue', ascending=False).head(1)

In [21]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [ ]:
imdb_df.release_year.apply(lambda x: 2011 < x < 2015)[
    ['original_title', 'release_year', 'budget', 'revenue', 'profit']].sort_values('profit', ascending=True).head(1)

In [22]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [ ]:
imdb_df['genres_counter'].sum().most_common(5)

In [24]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [ ]:
imdb_df['genres_counter'].loc[imdb_df['profit'] > 0].sum().most_common(5)

In [25]:
answer_ls.append(3)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
imdb_df['director_counter'].sum().most_common(5)

In [27]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [ ]:
imdb_df['director_counter'].loc[imdb_df['profit'] > 0].sum().most_common(5)

In [28]:
answer_ls.append(2)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [35]:
dir_max_profit = Counter({'Steven Spielberg': 0,
                          'James Cameron': 0,
                          'Christopher Nolan': 0,
                          'David Yates': 0,
                          'Peter Jackson': 0})

for index, row in imdb_df[['director_list', 'profit']].iterrows():
    for name in dir_max_profit.keys():
        if name in row['director_list']:
            dir_max_profit[name] += row['profit']
dir_max_profit.most_common(5)

In [ ]:
# Второй способ (более простой, но надо искать глазами):
print('Steven Spielberg заработал всего: ', imdb_df['profit'].loc[imdb_df.director.apply(
    lambda x: 'Steven Spielberg' in x)].sum())
print('James Cameron заработал всего: ', imdb_df['profit'].loc[imdb_df.director.apply(
    lambda x: 'James Cameron' in x)].sum())
print('Christopher Nolan заработал всего: ', imdb_df['profit'].loc[imdb_df.director.apply(
    lambda x: 'Christopher Nolan' in x)].sum())
print('David Yates заработал всего: ', imdb_df['profit'].loc[imdb_df.director.apply(
    lambda x: 'David Yates' in x)].sum())
print('Peter Jackson заработал всего: ', imdb_df['profit'].loc[imdb_df.director.apply(
    lambda x: 'Peter Jackson' in x)].sum())

In [37]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [ ]:
print('Emma Watson заработала: {}'.format(
    imdb_df[['profit']].loc[imdb_df.cast.apply(lambda x: 'Emma Watson' in x)].sum()))
print('Johnny Depp заработал: {}'.format(
    imdb_df[['profit']].loc[imdb_df.cast.apply(lambda x: 'Johnny Depp' in x)].sum()))
print('Michelle Rodriguez заработала: {}'.format(imdb_df[[
      'profit']].loc[imdb_df.cast.apply(lambda x: 'Michelle Rodriguez' in x)].sum()))
print('Orlando Bloom заработал: {}'.format(
    imdb_df[['profit']].loc[imdb_df.cast.apply(lambda x: 'Orlando Bloom' in x)].sum()))
print('Rupert Grint заработал: {}'.format(
    imdb_df[['profit']].loc[imdb_df.cast.apply(lambda x: 'Rupert Grint' in x)].sum()))

In [39]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [ ]:
question17_counter = Counter({
    'Nicolas Cage': 0,
    'Danny Huston': 0,
    'Kirsten Dunst': 0,
    'Jim Sturgess': 0,
    'Sami Gayle': 0
})

In [ ]:
for key in question17_counter.keys():
    quest17_counter[key] = imdb_df.loc[(imdb_df.release_year == 2012) & (
        imdb_df.actor_list.apply(lambda x: key in x))]['profit'].sum()

In [ ]:
question17_counter.most_common()

In [40]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [ ]:
imdb_df[imdb_df['budget'] > imdb_df['budget'].mean(
)]['cast_counter'].sum().most_common(5)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [ ]:
imdb_df[imdb_df.actor_list.apply(
    lambda x: 'Nicolas Cage' in x)].genres_counter.sum().most_common(3)

In [42]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [51]:
print('Universal: ', imdb_df[imdb_df['production_companies'].apply(
    lambda x: 'Universal' in x)]['imdb_id'].count())
print('Paramount Pictures: ', imdb_df[imdb_df['production_companies'].apply(
    lambda x: 'Paramount Pictures' in x)]['imdb_id'].count())
print('Columbia Pictures: ', imdb_df[imdb_df['production_companies'].apply(
    lambda x: 'Columbia Pictures' in x)]['imdb_id'].count())
print('Warner Bros: ', imdb_df[imdb_df['production_companies'].apply(
    lambda x: 'Warner Bros' in x)]['imdb_id'].count())
print('Twentieth Century Fox: ', imdb_df[imdb_df['production_companies'].apply(
    lambda x: 'Twentieth Century Fox' in x)]['imdb_id'].count())

Universal:  185
Paramount Pictures:  122
Columbia Pictures:  163
Warner Bros:  183
Twentieth Century Fox:  117

In [55]:
# Второй вариант. Мне кажется, менее правильный и точный, хотя ответ тот же - по названию, но не по кол-ву фильмов
# Здесь если у студии в названии есть доп. слово, то это считается новым названием
Counter(imdb_df['studio_list'].sum()).most_common(1)

[('Universal Pictures', 173)]

In [44]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [48]:
# Вариант 1
# Использую названия прямо из вариантов ответов
print('Universal Pictures: ', imdb_df[(imdb_df['release_year'] == 2015) & (
    imdb_df['production_companies'].apply(lambda x: 'Universal Pictures' in x))]['imdb_id'].count())
print('Paramount Pictures: ', imdb_df[(imdb_df['release_year'] == 2015) & (
    imdb_df['production_companies'].apply(lambda x: 'Paramount Pictures' in x))]['imdb_id'].count())
print('Columbia Pictures: ', imdb_df[(imdb_df['release_year'] == 2015) & (
    imdb_df['production_companies'].apply(lambda x: 'Columbia Pictures' in x))]['imdb_id'].count())
print('Warner Bros: ', imdb_df[(imdb_df['release_year'] == 2015) & (
    imdb_df['production_companies'].apply(lambda x: 'Warner Bros' in x))]['imdb_id'].count())
print('Twentieth Century Fox Film Corporation: ', imdb_df[(imdb_df['release_year'] == 2015) & (
    imdb_df['production_companies'].apply(lambda x: 'Twentieth Century Fox Film Corporation' in x))]['imdb_id'].count())

Universal Pictures:  11
Paramount Pictures:  7
Columbia Pictures:  7
Warner Bros:  12
Twentieth Century Fox Film Corporation:  8

In [58]:
# Вариант решения 2 - через Каунтер
imdb_df['studio_counter'].loc[imdb_df.release_year == 2015].sum().most_common(1)

[('Warner Bros.', 12)]

In [59]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [ ]:
print('Universal: ', imdb_df[(imdb_df['genres'].apply(lambda x: 'Comedy' in x)) & (
    imdb_df['production_companies'].apply(lambda x: 'Universal' in x))]['profit'].sum())
print('Paramount Pictures: ', imdb_df[(imdb_df['genres'].apply(lambda x: 'Comedy' in x)) & (
    imdb_df['production_companies'].apply(lambda x: 'Paramount Pictures' in x))]['profit'].sum())
print('Columbia Pictures: ', imdb_df[(imdb_df['genres'].apply(lambda x: 'Comedy' in x)) & (
    imdb_df['production_companies'].apply(lambda x: 'Columbia Pictures' in x))]['profit'].sum())
print('Warner Bros: ', imdb_df[(imdb_df['genres'].apply(lambda x: 'Comedy' in x)) & (
    imdb_df['production_companies'].apply(lambda x: 'Warner Bros' in x))]['profit'].sum())
print('Walt Disney: ', imdb_df[(imdb_df['genres'].apply(lambda x: 'Comedy' in x)) & (
    imdb_df['production_companies'].apply(lambda x: 'Walt Disney' in x))]['profit'].sum())

In [60]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [ ]:
print('Universal: ', imdb_df[(imdb_df['release_year'] == 2012) & (
    imdb_df['production_companies'].apply(lambda x: 'Universal' in x))]['profit'].sum())
print('Paramount Pictures: ', imdb_df[(imdb_df['release_year'] == 2012) & (
    imdb_df['production_companies'].apply(lambda x: 'Paramount Pictures' in x))]['profit'].sum())
print('Columbia Pictures: ', imdb_df[(imdb_df['release_year'] == 2012) & (
    imdb_df['production_companies'].apply(lambda x: 'Columbia Pictures' in x))]['profit'].sum())
print('Warner Bros: ', imdb_df[(imdb_df['release_year'] == 2012) & (
    imdb_df['production_companies'].apply(lambda x: 'Warner Bros' in x))]['profit'].sum())
print('Lucasfilm: ', imdb_df[(imdb_df['release_year'] == 2012) & (
    imdb_df['production_companies'].apply(lambda x: 'Lucasfilm' in x))]['profit'].sum())

In [62]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [ ]:
question23_list = ['tt0267626',
                   'tt0435705',
                   'tt0315297',
                   'tt0811138',
                   'tt0964517']

In [ ]:
imdb_df[imdb_df.imdb_id.isin(question23_list)][[
    'imdb_id', 'profit', 'original_title', 'production_companies']].sort_values('profit')

In [63]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [ ]:
imdb_df[['production_companies', 'profit', 'release_year']].groupby(
    ['release_year']).sum().sort_values('profit', ascending=False).head(4)

In [64]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [ ]:
imdb_df[['production_companies', 'release_year', 'profit']].loc[imdb_df['production_companies'].apply(
    lambda x: 'Warner Bros' in x)].groupby(['release_year']).sum().sort_values('profit', ascending=False).head(5)

In [65]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [ ]:
imdb_df[['release_month', 'imdb_id']].groupby(
    ['release_month']).count().sort_values('imdb_id', ascending=False).head(3)

In [69]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [70]:
summer_mnth = [6, 7, 8]

In [72]:
# Первый вариант решения
imdb_df[['release_date', 'release_month', 'original_title', 'imdb_id']
        ].loc[imdb_df['release_month'].isin(summer_mnth)].nunique()

In [ ]:
# Второй вариант - более простой
imdb_df['imdb_id'].loc[imdb_df['month_release_date'].isin([6, 7, 8])].count()

In [ ]:
# третий вариант - более простой
imdb_df['imdb_id'].loc[imdb_df['month_release_date'].isin([6, 7, 8])].nunique()

In [73]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [76]:
# Вариант решения 1 - через каунтер
imdb_df[(imdb_df.release_month == 1) | (imdb_df.release_month == 2) | (
    imdb_df.release_month == 12)].director_counter.sum().most_common(1)

[('Peter Jackson', 7)]

In [ ]:
# Вариант 2
print('Steven Soderbergh снял зимой: ', imdb_df[['season', 'director', 'imdb_id']].loc[(imdb_df.director.apply(
    lambda x: 'Steven Soderbergh' in x)) & (imdb_df['season'] == 'winter')]['imdb_id'].nunique())  # .sort_values('imdb_id', ascending = False)
print('Christopher Nolan снял зимой: ', imdb_df[['season', 'director', 'imdb_id']].loc[(imdb_df.director.apply(
    lambda x: 'Christopher Nolan' in x)) & (imdb_df['season'] == 'winter')]['imdb_id'].nunique())  # .sort_values('imdb_id', ascending = False)
print('Clint Eastwood снял зимой: ', imdb_df[['season', 'director', 'imdb_id']].loc[(imdb_df.director.apply(
    lambda x: 'Clint Eastwood' in x)) & (imdb_df['season'] == 'winter')]['imdb_id'].nunique())  # .sort_values('imdb_id', ascending = False)
print('Ridley Scott снял зимой: ', imdb_df[['season', 'director', 'imdb_id']].loc[(imdb_df.director.apply(
    lambda x: 'Ridley Scott' in x)) & (imdb_df['season'] == 'winter')]['imdb_id'].nunique())  # .sort_values('imdb_id', ascending = False)
print('Peter Jackson снял зимой: ', imdb_df[['season', 'director', 'imdb_id']].loc[(imdb_df.director.apply(
    lambda x: 'Peter Jackson' in x)) & (imdb_df['season'] == 'winter')]['imdb_id'].nunique())  # .sort_values('imdb_id', ascending = False)

In [77]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [ ]:
# ЧЕРЕЗ PIVOT - короткое и лаконичное решение
pivot_best_month = imdb_df[['release_year', 'month_release_date', 'profit']].pivot_table(
    values=['profit'],
    index=['month_release_date'],
    columns=['release_year'],
    aggfunc='sum')

In [ ]:
pivot_best_month.idxmax().value_counts()

In [ ]:
# Вариант 2 - длинный и через функции

In [85]:
# функция определяет самый прибыльный месяц в году по году
def best_profit_month_by_year(year):
    best_month = 0
    best_month = imdb_df[['profit', 'release_month']].loc[imdb_df['release_year'] == year].groupby(
        'release_month').sum().sort_values('profit', ascending=False).head(1).index[0]
    return (best_month)

In [82]:
years = imdb_df['release_year'].unique()
best_month_list = [1, 6, 12, 9, 5]

In [86]:
def all_years_best_month(years_list, month_list):
    best_month_counter = Counter({1: 0, 6: 0, 12: 0, 9: 0, 5: 0})
    # print(month_list)
    for year in years_list:
        # print(year)
        best_month = 0
        best_month = best_profit_month_by_year(year)
        # print(best_month)
        if best_month in month_list:
            best_month_counter[best_month] += 1
    return(best_month_counter)

In [87]:
all_years_best_month(years, best_month_list).most_common(3)

[(6, 7), (12, 4), (5, 4)]

In [78]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
print('Средняя длина названия у Universal: ', round(
    imdb_df.loc[imdb_df.production_companies.apply(lambda x: 'Universal' in x)]['len_title'].mean(), 3))
print('Средняя длина названия у Warner Bros: ', round(
    imdb_df.loc[imdb_df.production_companies.apply(lambda x: 'Warner Bros' in x)]['len_title'].mean(), 3))
print('Средняя длина названия у Jim Henson Company, The: ', round(
    imdb_df.loc[imdb_df.production_companies.apply(lambda x: 'Jim Henson Company, The' in x)]['len_title'].mean(), 3))
print('Средняя длина названия у Paramount Pictures: ', round(
    imdb_df.loc[imdb_df.production_companies.apply(lambda x: 'Paramount Pictures' in x)]['len_title'].mean(), 3))
print('Средняя длина названия у Four By Two Productions: ', round(
    imdb_df.loc[imdb_df.production_companies.apply(lambda x: 'Four By Two Productions' in x)]['len_title'].mean(), 3))

In [89]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
print('Средняя длина названия (кол-во слов) у Universal: ',
      round(imdb_df.loc[imdb_df.production_companies.apply(lambda x: 'Universal' in x)]['len_word_title_space'].mean(), 3))
print('Средняя длина названия (кол-во слов) у Warner Bros: ',
      round(imdb_df.loc[imdb_df.production_companies.apply(lambda x: 'Warner Bros' in x)]['len_word_title_space'].mean(), 3))
print('Средняя длина названия (кол-во слов) у Jim Henson Company, The: ',
      round(imdb_df.loc[imdb_df.production_companies.apply(lambda x: 'Jim Henson Company, The' in x)]['len_word_title_space'].mean(), 3))
print('Средняя длина названия (кол-во слов) у Paramount Pictures: ',
      round(imdb_df.loc[imdb_df.production_companies.apply(lambda x: 'Paramount Pictures' in x)]['len_word_title_space'].mean(), 3))
print('Средняя длина названия (кол-во слов) у Four By Two Productions: ',
      round(imdb_df.loc[imdb_df.production_companies.apply(lambda x: 'Four By Two Productions' in x)]['len_word_title_space'].mean(), 3))

In [91]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [ ]:
# ЧЕРЕЗ SET() - убираем дубли с помощью set()
word_list_space = []
for title in imdb_df['original_title']:
    words = []
    words = title.split()
    for word in words:
        word_list_space.append(word.lower())
print(len(set(word_list_space)))

In [ ]:
# способ 2. Через список, добавляем только уникальные + разделитель пробел
word_list_space = []
for title in imdb_df['original_title']:
    words = []
    words = title.split()
    for word in words:
        if word.lower() in word_list_space:
            continue
        else:
            word_list_space.append(word.lower())
print(len(word_list_space))

In [ ]:
# Способ 0 полностью через set() - похож на первый
word_list = set()
for title in imdb_df['original_title']:
    words = []
    words = title.split()
    for word in words:
        word_list.add(word.lower())
print(len(word_list))

In [92]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [ ]:
var1_34 = ['Inside Out', 'Gone Girl', '12 Years a Slave']
var2_34 = ['BloodRayne', 'The Adventures of Rocky and Bullwinkle']
var3_34 = ['The Lord of the Rings: The Return of the King', 'Upside Down']
var4_34 = ['300', 'Lucky Number Slevin']
var5_34 = ['Upside Down', '300', 'Inside Out',
           'The Lord of the Rings: The Return of the King']

In [ ]:
ratio_np_array = imdb_df['vote_average'].to_numpy()

In [ ]:
ratio_perc = np.percentile(ratio_np_array, 99)

In [ ]:
print('Вариант 1 - {} фильма, а получилось: {}'.format(len(var1_34),
                                                       len(imdb_df.loc[(imdb_df.vote_average > ratio_perc) & (imdb_df.original_title.isin(var1_34))][['original_title', 'vote_average']])))
print('Вариант 2 - {} фильма, а получилось: {}'.format(len(var2_34),
                                                       len(imdb_df.loc[(imdb_df.vote_average > ratio_perc) & (imdb_df.original_title.isin(var2_34))][['original_title', 'vote_average']])))
print('Вариант 2 - {} фильма, а получилось: {}'.format(len(var3_34),
                                                       len(imdb_df.loc[(imdb_df.vote_average > ratio_perc) & (imdb_df.original_title.isin(var3_34))][['original_title', 'vote_average']])))
print('Вариант 2 - {} фильма, а получилось: {}'.format(len(var4_34),
                                                       len(imdb_df.loc[(imdb_df.vote_average > ratio_perc) & (imdb_df.original_title.isin(var4_34))][['original_title', 'vote_average']])))
print('Вариант 2 - {} фильма, а получилось: {}'.format(len(var5_34),
                                                       len(imdb_df.loc[(imdb_df.vote_average > ratio_perc) & (imdb_df.original_title.isin(var5_34))][['original_title', 'vote_average']])))

In [93]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [ ]:
actor_group_set1 = set(['Johnny Depp', 'Helena Bonham Carter'])
actor_group_set2 = set(['Hugh Jackman', 'Ian McKellen'])
actor_group_set3 = set(['Vin Diesel', 'Paul Walker'])
actor_group_set4 = set(['Adam Sandler', 'Kevin James'])
actor_group_set5 = set(['Daniel Radcliffe', 'Rupert Grint'])

In [ ]:
print('Johnny Depp and Helena Bonham Carter снялись вместе в фильмах: ',
      imdb_df['actor_list'].loc[imdb_df['actor_list'].apply(lambda x: actor_group_set1.issubset(x))].count())
print('Hugh Jackman and Ian McKellen снялись вместе в фильмах: ',
      imdb_df['actor_list'].loc[imdb_df['actor_list'].apply(lambda x: actor_group_set2.issubset(x))].count())
print('Vin Diesel and Paul Walker снялись вместе в фильмах: ',
      imdb_df['actor_list'].loc[imdb_df['actor_list'].apply(lambda x: actor_group_set3.issubset(x))].count())
print('Adam Sandler and Kevin James снялись вместе в фильмах: ',
      imdb_df['actor_list'].loc[imdb_df['actor_list'].apply(lambda x: actor_group_set4.issubset(x))].count())
print('Daniel Radcliffe and Rupert Grint снялись вместе в фильмах: ',
      imdb_df['actor_list'].loc[imdb_df['actor_list'].apply(lambda x: actor_group_set5.issubset(x))].count())

In [ ]:
# Второй способ - для тренировки (через combinations + Counter)
imdb_df['actor_pair_counter'].sum().most_common(5)

In [ ]:
# или можно для каждой пары поискать по ключу конекретное значение:
imdb_df['actor_pair_counter'].sum()[('Daniel Radcliffe', 'Rupert Grint')]

In [94]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [95]:
director_best_list = ['Quentin Tarantino',
                      'Steven Soderbergh',
                      'Robert Rodriguez',
                      'Christopher Nolan',
                      'Clint Eastwood']

In [96]:
def profit_film_perc(name):
    ratio = imdb_df['director_counter'].loc[(imdb_df.profit > 0) & (imdb_df.director.apply(lambda x: name in x))].sum()[
        name]/imdb_df['director_counter'].loc[(imdb_df.director.apply(lambda x: name in x))].sum()[name]
    return ratio

In [97]:
for name in director_best_list:
    print('У {} рейтинг такой: {:.2%}'.format(name, profit_film_perc(name)))

У Quentin Tarantino рейтинг такой: 85.71%
У Steven Soderbergh рейтинг такой: 76.92%
У Robert Rodriguez рейтинг такой: 72.73%
У Christopher Nolan рейтинг такой: 100.00%
У Clint Eastwood рейтинг такой: 83.33%

In [98]:
answer_ls.append(4)

# Submission

In [99]:
len(answer_ls)

36

In [100]:
pd.DataFrame({'Id': range(1, len(answer_ls)+1),
              'Answer': answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       3
12  13       3
13  14       2
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4

## Как видится, интереснее было бы сделать так, чтобы прибыль на режиссера (актера/студию/...) была не прибыль на весь фильм, а часть прибыли пропорционально кол-ву сущностей на каждый фильм :)